%nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0.admin-header
  %a.navbar-brand.col-sm-3.col-md-2.mr-0{:href => "#"} VirtualSchool
  %ul.navbar-nav.top-main-menu.px-3
    %li.nav-item.text-nowrap
      = link_to_logout_helper
