%nav.col-md-2.d-none.d-md-block.bg-light.sidebar.pt-3
  .sidebar-sticky
    %ul.nav.flex-column.menu-admin
      - if current_user.has_role? :admin
        = render partial: 'admin/menu/admin'
    

      
