.features
  .container
    .row
      .col
        .section_title_container.text-center
          %h2.section_title Bienvenido a Washington Academy
          .section_subtitle
            %p Somos un instituto especializado en el desarrollo del habla en ingles comunicativo en la ciudad de Buenaventura. Trabajamos con profesores que imparten clases calidas, did치cticas y divertidas para tu rapido aprendizaje. Nuestro objetivo es ser un aliado en el mejoramiento de un idioma que te abrir치 puertas a un nuevo mundo lleno de cientos de oportunidades.
            %br
            %h5 Es f치cil si lo intentas.
    .row.features_row
      / Features Item
      .col-lg-3.feature_col
        .feature.text-center.trans_400
          .feature_icon
            %i.fa.fa-cogs{"aria-hidden" => "true"}
          %h3.feature_title Los Expertos
          .feature_text
            %p Nuestros docentes no solo tienen el conocimiento; son expertos en transmitirlo.
      / Features Item
      .col-lg-3.feature_col
        .feature.text-center.trans_400
          .feature_icon
            %i.fa.fa-book{"aria-hidden" => "true"}
          %h3.feature_title Libros
          .feature_text
            %p Nos apoyamos en libros oficiales que incentivan las buenas practicas de aprendizaje y ense침anza en el idioma.
      / Features Item
      .col-lg-3.feature_col
        .feature.text-center.trans_400
          .feature_icon
            %i.fa.fa-desktop{"aria-hidden" => "true"}
          %h3.feature_title Tecnologia
          .feature_text
            %p Implementamos e incentivamos el uso de la tecnologia como herramienta fundamental de aprendizaje.
      / Features Item
      .col-lg-3.feature_col
        .feature.text-center.trans_400
          .feature_icon
            %i.fa.fa-graduation-cap{"aria-hidden" => "true"}
          %h3.feature_title Habilidades
          .feature_text
            %p Nos enfocamos en reforzar y perfeccionar habilidades en el habla, la lectura y la escucha del idioma ingles.
