.newsletter
  .newsletter_background.parallax-window
  .container
    .row
      .col
        .newsletter_container.d-flex.flex-lg-row.flex-column.align-items-center.justify-content-start
          / Newsletter Content
          .newsletter_content.text-lg-left.text-center
            .newsletter_title.comfenalco_title ¿Eres afiliado A Comfenalco Valle delagente?
            .newsletter_subtitle Entonces tienes el 20% de descuento en mensualidad y el 20% en matricula en Washington Academy.
          / Newsletter Form
          .newsletter_form_container.ml-lg-auto.col-3.comfenalco-logo
            = image_tag('comfenalco.png')
