%span.anchor#home
.home
  .row.justify-content-md-center.align-items-md-end.globe-container
    .col-md-12.text-center
      %h1.white-color.title-page
        ¡Es fácil si lo intentas!
      %h4.white-color
        Abre tu mundo de oportundiades
    .col-md-12.text-center
      .courses_button.trans_200.red-button
        %a{:href => "#about_us"} Conocer mas
    .col-md-12.text-center
      = image_tag 'globe.svg', class: 'globe'
