%span.anchor#prices
.feature.prices
  .feature_background{:style => "background-image:url(images/courses_background.jpg)"}
  .container
    .row
      .col
        .section_title_container.text-center
          %h2.section_title.price_section_title Precios
    .row
      .col-md-6
        .card-price
          .icon
          .title Inscripción
          .price $40,000
      .col-md-6
        .card-price
          .icon
          .title Mensualidad
          .price $100,000
      .col-md-6
        .card-price
          .icon
          .title Camisa
          .price $40,000
      .col-md-6
        .card-price
          .icon
          .title Sudadera
          .price $35,000
      .col-md-6
        .card-price
          .icon
          .title Libro
          .price $28,000
      
