%li.nav-item
  %a.nav-link{:href => groups_path, class: is_menu_active?(:groups)}
    %i.ico.fa.fa-users
    Groups
%li.nav-item
  %a.nav-link{:href => students_path, class: is_menu_active?(:students)}
    %i.ico.fa.fa-graduation-cap
    Students
%li.nav-item
  %a.nav-link{:href => teachers_path, class: is_menu_active?(:teachers)}
    %i.ico.fa.fa-male
    Teachers
