%footer.footer
  .footer_background
  .container
    .row.footer_row
      .col
        .footer_content
          .row
            .col-lg-3.footer_col
              / Footer About
              .footer_section.footer_about
                .footer_logo_container
                  %a{:href => "#"}
                    .footer_logo_text
                      Washington
                      %span Academy
                .footer_about_text
                  %p ¡Es Fácil si lo intentas!
                .footer_social
                  / %ul
                  /   %li
                  /     %a{:href => "#"}
                  /       %i.fa.fa-facebook{"aria-hidden" => "true"}
                  /   %li
                  /     %a{:href => "#"}
                  /       %i.fa.fa-google-plus{"aria-hidden" => "true"}
                  /   %li
                  /     %a{:href => "#"}
                  /       %i.fa.fa-instagram{"aria-hidden" => "true"}
                  /   %li
                  /     %a{:href => "#"}
                  /       %i.fa.fa-twitter{"aria-hidden" => "true"}
            .col-lg-3.footer_col
              / Footer Contact
              .footer_section.footer_contact
                .footer_title Contáctanos
                .footer_contact_info
                  %ul
                    %li Email: washingtonacademy@hotmail.com
                    %li 
                      Teléfonos: 
                      %br 
                      %a.pl-3 +57 315 679 8795
                      %br
                      %a.pl-3 +57 315 684 0323
                      %br
                      %a.pl-3 +57 318 398 7050
                    %li Barrio el bolivar
            .col-lg-5.footer_col
              / Footer links
              .footer_section.footer_links
                .footer_title Menu
                .footer_links_container
                  %ul.main_nav
                    %li.active
                      %a{:href => '#home'} Inicio
                    %li
                      %a{:href => '#about_us'} ¿Quienes somos?
                    %li
                      %a{:href => '#offer'} Nuestra oferta
                    %li
                      %a{:href => '#prices'} Precios
                    %li
                      %a{:href => '#contact_us'} Contáctanos
    .row.copyright_row
      .col
        .copyright.d-flex.flex-lg-row.flex-column.align-items-center.justify-content-start
          .cr_text
            Copyright &#169;
            Todos los derechos reservados | Sitio web diseñado con
            %i.fa.fa-heart-o{"aria-hidden" => "true"}
            por
            %a{:href => "https://www.linkedin.com/in/yan-carlos-marin-osorio-04373994/", :target => "_blank"} Yan Carlos Marín
            
   
