%header.header
  / Top Bar
  .top_bar
    .top_bar_container
      .container
        .row
          .col
            .top_bar_content.d-flex.flex-row.align-items-center.justify-content-start
              %ul.top_bar_contact_list
                %li
                  .question Have any questions?
                %li
                  %i.fa.fa-phone{"aria-hidden" => "true"}
                  %div +57 315 6798795
                %li
                  %i.fa.fa-envelope-o{"aria-hidden" => "true"}
                  %div washingtonacademy@hotmail.com
              .top_bar_login.ml-auto
                .login_button
                  %a{:href => user_session_path} Login
  / Header Content
  .header_container
    .container
      .row
        .col
          .header_content.d-flex.flex-row.align-items-center.justify-content-start
            .logo_container
              %a{:href => "#"}
                .logo_text
                  = image_tag 'logo.svg'
            %nav.main_nav_contaner.ml-auto
              %ul.main_nav
                %li.active
                  %a{:href => '#home'} Inicio
                %li
                  %a{:href => '#about_us'} ¿Quienes somos?
                %li
                  %a{:href => '#offer'} Nuestra oferta
                %li
                  %a{:href => '#prices'} Precios
                %li
                  %a{:href => '#contact_us'} Contáctanos
              .hamburger.menu_mm
                %i.fa.fa-bars.menu_mm{"aria-hidden" => "true"}
                
.menu.d-flex.flex-column.align-items-end.justify-content-start.text-right.menu_mm.trans_400
  .menu_close_container
    .menu_close
      %div
      %div
  %nav.menu_nav
    %ul.menu_mm
      %li.menu_mm
        %a{:href => '#home'} Inicio
      %li.menu_mm
        %a{:href => '#about_us'} ¿Quienes somos?
      %li.menu_mm
        %a{:href => '#offer'} Nuestra oferta
      %li.menu_mm
        %a{:href => '#prices'} Precios
      %li.menu_mm
        %a{:href => '#contact_us'} Contáctanos
