%header.header
  / Top Bar
  .top_bar
    .top_bar_container
      .container
        .row
          .col
            .top_bar_content.d-flex.flex-row.align-items-center.justify-content-start
              %ul.top_bar_contact_list
                %li
                  .question Have any questions?
                %li
                  %i.fa.fa-phone{"aria-hidden" => "true"}
                  %div +57 315 6798795
                %li
                  %i.fa.fa-envelope-o{"aria-hidden" => "true"}
                  %div Wilo-lede@hotmail.com
              .top_bar_login.ml-auto
                .login_button
                  %a{:href => "#"} Login
  / Header Content
  .header_container
    .container
      .row
        .col
          .header_content.d-flex.flex-row.align-items-center.justify-content-start
            .logo_container
              %a{:href => "#"}
                .logo_text
                  = image_tag 'logo.svg'
            %nav.main_nav_contaner.ml-auto
              %ul.main_nav
                %li.active
                  %a{:href => "#"} Inicio
                %li
                  %a{:href => "about.html"} ¿Quienes somos?
                %li
                  %a{:href => "courses.html"} Nuestra oferta
                %li
                  %a{:href => "blog.html"} Precios
                %li
                  %a{:href => "#"} Blog
                %li
                  %a{:href => "contact.html"} Contáctanos
              .hamburger.menu_mm
                %i.fa.fa-bars.menu_mm{"aria-hidden" => "true"}
                
.menu.d-flex.flex-column.align-items-end.justify-content-start.text-right.menu_mm.trans_400
  .menu_close_container
    .menu_close
      %div
      %div
  %nav.menu_nav
    %ul.menu_mm
      %li.menu_mm
        %a{:href => "index.html"} Home
      %li.menu_mm
        %a{:href => "#"} About
      %li.menu_mm
        %a{:href => "#"} Courses
      %li.menu_mm
        %a{:href => "#"} Blog
      %li.menu_mm
        %a{:href => "#"} Page
      %li.menu_mm
        %a{:href => "contact.html"} Contact
