%header.header
  / Top Bar
  .top_bar
    .top_bar_container
      .container
        .row
          .col
            .top_bar_content.d-flex.flex-row.align-items-center.justify-content-start
              %ul.top_bar_contact_list
                %li
                  .question Have any questions?
                %li
                  %i.fa.fa-phone{"aria-hidden" => "true"}
                  %div 001-1234-88888
                %li
                  %i.fa.fa-envelope-o{"aria-hidden" => "true"}
                  %div info.deercreative@gmail.com
              .top_bar_login.ml-auto
                .login_button
                  %a{:href => "#"} Register or Login
  / Header Content
  .header_container
    .container
      .row
        .col
          .header_content.d-flex.flex-row.align-items-center.justify-content-start
            .logo_container
              %a{:href => "#"}
                .logo_text
                  Unic
                  %span at
            %nav.main_nav_contaner.ml-auto
              %ul.main_nav
                %li.active
                  %a{:href => "#"} Home
                %li
                  %a{:href => "about.html"} About
                %li
                  %a{:href => "courses.html"} Courses
                %li
                  %a{:href => "blog.html"} Blog
                %li
                  %a{:href => "#"} Page
                %li
                  %a{:href => "contact.html"} Contact
              .search_button
                %i.fa.fa-search{"aria-hidden" => "true"}
              / Hamburger
              .shopping_cart
                %i.fa.fa-shopping-cart{"aria-hidden" => "true"}
              .hamburger.menu_mm
                %i.fa.fa-bars.menu_mm{"aria-hidden" => "true"}
  / Header Search Panel
  .header_search_container
    .container
      .row
        .col
          .header_search_content.d-flex.flex-row.align-items-center.justify-content-end
            %form.header_search_form{:action => "#"}
              %input.search_input{:placeholder => "Search", :required => "required", :type => "search"}/
              %button.header_search_button.d-flex.flex-column.align-items-center.justify-content-center
                %i.fa.fa-search{"aria-hidden" => "true"}
                
.menu.d-flex.flex-column.align-items-end.justify-content-start.text-right.menu_mm.trans_400
  .menu_close_container
    .menu_close
      %div
      %div
  .search
    %form.header_search_form.menu_mm{:action => "#"}
      %input.search_input.menu_mm{:placeholder => "Search", :required => "required", :type => "search"}/
      %button.header_search_button.d-flex.flex-column.align-items-center.justify-content-center.menu_mm
        %i.fa.fa-search.menu_mm{"aria-hidden" => "true"}
  %nav.menu_nav
    %ul.menu_mm
      %li.menu_mm
        %a{:href => "index.html"} Home
      %li.menu_mm
        %a{:href => "#"} About
      %li.menu_mm
        %a{:href => "#"} Courses
      %li.menu_mm
        %a{:href => "#"} Blog
      %li.menu_mm
        %a{:href => "#"} Page
      %li.menu_mm
        %a{:href => "contact.html"} Contact
